---
global:
  repository: {{ repository }}
  flavor: {{ onap_flavor }}
appc:
  config:
    enableClustering: false
    openStackType: "OpenStackProvider"
    openStackName: "OpenStack"
{% if add_v2_identity_wrapper|bool %}
    openStackKeyStoneUrl: http://identity-wrapper.onap:5000/v2.0
{% else %}
    openStackKeyStoneUrl: {{ clouds[openstack_user_name].auth.auth_url }}
{% endif %}
    openStackServiceTenantName: {{ openstack_service_tenant_name }}
    openStackDomain: {{ clouds[openstack_user_name].auth.user_domain_name }}
    openStackUserName: {{ openstack_user_name }}
    openStackEncryptedPassword: "{{ encrypted_password }}"
nbi:
  config:
    openStackRegion: {{ clouds[openstack_user_name].region_name }}
    openStackVNFTenantId: {{ tenant_id }}
    cloudOwner: {{ details.pod_owner }}
robot:
  config:
    openStackEncryptedPasswordHere: "{{ robot_encrypted_password }}"
so:
  so-catalog-db-adapter:
    config:
      openStackUserName: {{ openstack_user_name }}
      openStackRegion: {{ clouds[openstack_user_name].region_name }}
{% if add_v2_identity_wrapper|bool %}
      openStackKeyStoneUrl: http://identity-wrapper.onap:5000/v2.0
{% else %}
      openStackKeyStoneUrl: {{ clouds[openstack_user_name].auth.auth_url }}
{% endif %}
      openStackServiceTenantName: {{ openstack_service_tenant_name }}
      openStackEncryptedPasswordHere: "{{ encrypted_password }}"
      openStackTenantId: {{ tenant_id }}
  so-mariadb:
    config:
      # gerrit branch where the latest heat code is checked in
      gerritBranch: {{ branch }}
