diff --git a/kubernetes/common/dgbuilder/templates/deployment.yaml b/kubernetes/common/dgbuilder/templates/deployment.yaml
index 353c2314..990e5e2c 100644
--- a/kubernetes/common/dgbuilder/templates/deployment.yaml
+++ b/kubernetes/common/dgbuilder/templates/deployment.yaml
@@ -50,7 +50,7 @@ spec:
           image: "{{ include "common.repository" . }}/{{ .Values.image }}"
           imagePullPolicy: {{ .Values.global.pullPolicy | default .Values.pullPolicy }}
           command: ["/bin/bash"]
-          args: ["-c", "cd /opt/onap/ccsdk/dgbuilder/ && ./start.sh sdnc1.0 && wait"]
+          args: ["-c", "cd /opt/onap/ccsdk/dgbuilder/ && npm set registry '[{[{lookup('env','OFFLINE_REPOSITORY')}]}]' && ./start.sh sdnc1.0 && wait"]
           ports:
           - containerPort: {{ .Values.service.internalPort }}
           readinessProbe:
diff --git a/kubernetes/sdnc/charts/sdnc-portal/templates/deployment.yaml b/kubernetes/sdnc/charts/sdnc-portal/templates/deployment.yaml
index 35dffee5..9bedc2d2 100644
--- a/kubernetes/sdnc/charts/sdnc-portal/templates/deployment.yaml
+++ b/kubernetes/sdnc/charts/sdnc-portal/templates/deployment.yaml
@@ -50,7 +50,7 @@ spec:
       containers:
         - name: {{ include "common.name" . }}
           command: ["/bin/bash"]
-          args: ["-c", "cd /opt/onap/sdnc/admportal/shell && ./start_portal.sh"]
+          args: ["-c", "cd /opt/onap/sdnc/admportal/shell && npm set registry '[{[{lookup('env','OFFLINE_REPOSITORY')}]}]' && ./start_portal.sh"]
           image: "{{ include "common.repository" . }}/{{ .Values.image }}"
           imagePullPolicy: {{ .Values.global.pullPolicy | default .Values.pullPolicy }}
           ports:
diff --git a/kubernetes/common/cassandra/values.yaml b/kubernetes/common/cassandra/values.yaml
index e568996..5647603 100644
--- a/kubernetes/common/cassandra/values.yaml
+++ b/kubernetes/common/cassandra/values.yaml
@@ -145,8 +145,8 @@ resources: {}
 #    cpu: 2
 #    memory: 4Gi
 backup:
-  enabled: false
-  cron: "00 00 * * *"
+  enabled: [{[{lookup('env','BACKUP')}]}]
+  cron: "[{[{lookup('env','BACKUP_CRON')}]}]"
   retentionPeriod: 3
   dbSize: 1
   keyspacesToSkip:
diff --git a/kubernetes/common/mariadb-galera/values.yaml b/kubernetes/common/mariadb-galera/values.yaml
index a662b1e..6d57463 100644
--- a/kubernetes/common/mariadb-galera/values.yaml
+++ b/kubernetes/common/mariadb-galera/values.yaml
@@ -151,6 +151,6 @@ nameOverride: mariadb-galera
 #dnsnameOverride: mariadb-galera

 backup:
-  enabled: false
-  cron: "00 00 * * *"
+  enabled: [{[{lookup('env','BACKUP')}]}]
+  cron: "[{[{lookup('env','BACKUP_CRON')}]}]"
   retentionPeriod: 3
